.card{
    text-align:center;
    font-family:Roboto;

}

.buttn{
    height:25px;
    width:120px;
}

.buttn1{
    color:grey;
    border-radius:10px;
    height:25px;
    width:120px;
}

.buttn2{
    color:black;
    border-radius:10px;
    height:25px;
    width:120px;
}